html, body, div, canvas {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  min-height: 100%;
}

#container {
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
 
  display: -moz-box;
  -moz-box-orient: horizontal;
  -moz-box-pack: center;
  -moz-box-align: center;
  
  display: box;
  box-orient: horizontal;
  box-pack: center;
  box-align: center;
}

#gamecanvas {
}

#fpscounter {
  position: fixed;
  top: 0px;
  left: 0px;
  font-size: 24px;
  background-color: black;
  color: white;
  border-bottom: solid 2px gray;
  border-right: solid 2px gray;
  padding: 3px;
  border-bottom-right-radius: 10px;
}
